.modal {
	position: absolute;
	z-index: 5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include flex(column, nowrap, center, center, 0);
	backdrop-filter: blur(1em);
	&__section {
		width: 25em;
		height: 18em;
		background: #000;
		border-radius: 1em;
		border: 0.2em solid #fff;
		color: #fff;
		@include flex(column, nowrap, center, center, 1em);
	}
	&__dificulty {
		@include flex(row, nowrap, center, center, 0.5em);
	}
}
