.user {
	font-size: 1em;
	font-weight: bold;
	letter-spacing: 0.05em;
	height: 2em;
	&__label {
		@include flex(row, nowrap, center, center, 0.5em);
	}
	&__input {
		border-bottom: 0.1em solid #fff;
		outline: none;
		font-size: 1em;
		padding: 0.4em;
		font-weight: bold;
		letter-spacing: 0.05em;
		text-transform: capitalize;
	}
}
