@font-face {
	font-family: GothamTitle;
	src: url('../../public/fonts/Gotham-Font/Gotham-Bold.otf');
}
@font-face {
	font-family: GothamLight;
	src: url('../../public/fonts/Gotham-Font/GothamLight.ttf');
}
@font-face {
	font-family: GothamMedium;
	src: url('../../public/fonts/Gotham-Font/GothamBook.ttf');
}
@font-face {
	font-family: FuturaBold;
	src: url('../../public/fonts/Futura/FuturaBold.ttf');
}
@font-face {
	font-family: FuturaLight;
	src: url('../../public/fonts/Futura/FuturaLight.ttf');
}
@font-face {
	font-family: PokemonSolid;
	src: url('../../public/fonts/PokemonS.ttf');
}
