@charset "UTF-8";
@font-face {
  font-family: GothamTitle;
  src: url("../../public/fonts/Gotham-Font/Gotham-Bold.otf");
}
@font-face {
  font-family: GothamLight;
  src: url("../../public/fonts/Gotham-Font/GothamLight.ttf");
}
@font-face {
  font-family: GothamMedium;
  src: url("../../public/fonts/Gotham-Font/GothamBook.ttf");
}
@font-face {
  font-family: FuturaBold;
  src: url("../../public/fonts/Futura/FuturaBold.ttf");
}
@font-face {
  font-family: FuturaLight;
  src: url("../../public/fonts/Futura/FuturaLight.ttf");
}
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
.upercase {
  text-transform: capitalize;
}

/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

* {
  hyphens: none;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  display: block;
  /* (Opcional) */
  object-fit: cover;
  /* (Opcional) */
  object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  /* (Opcional) */
  hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none; /* Esto oculta la barra de desplazamiento */
  font-family: GothamLight;
  overflow-x: hidden;
  position: relative;
  background-image: url("https://res.cloudinary.com/damjxqb5f/image/upload/v1683875290/fondo_xvurdo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(0.6em);
}

select::-ms-expand {
  display: none; /*Evita que se muestre la flecha por defecto en versiones de IE*/
  outline: none;
  border: none;
}

select:focus {
  outline: none;
  border: none;
}

.globs {
  background: #feac1d;
  border-radius: 50%;
  height: 50em;
  width: 50em;
  position: fixed;
  top: -10em;
  right: -10em;
}

.globs:nth-child(2) {
  top: 25em;
  right: -20em;
  background: #f47923;
  opacity: 0.5;
}

.bottom {
  width: 70em;
  right: -5em;
  top: 38.5em;
  background: #f47923;
  opacity: 0.4;
}

.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  min-height: 100vh;
}

.card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
  position: absolute;
  backface-visibility: hidden;
  transition: 0.4s ease;
  transform: rotateY(180deg);
}
.card__row {
  width: 100vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.card__movements {
  min-height: 100vh;
  flex-grow: 1;
  min-width: 16em;
}
.card__buttons {
  min-height: 100vh;
  flex-grow: 1;
  min-width: 16em;
}
.card__all {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1.7em;
  align-content: center;
  flex-grow: 1;
  max-width: 1200px;
  position: relative;
  background: rgba(51, 85, 51, 0.2);
  padding: 2em 0.5em;
  height: calc(100vh - 43px);
  border-radius: 0.5em;
}
.card__perspective {
  perspective: 500px;
}
.card__flip {
  position: relative;
  transform-style: preserve-3d;
  width: 8em;
  height: 10em;
  transition: 0.4s ease;
}
.card__click {
  transform: rotateY(180deg);
}
.card__container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
  position: relative;
  background: #343e63;
  height: 100%;
  width: 100%;
  padding: 1em 0.2em;
  border-radius: 2em;
  cursor: pointer;
}
.card__section {
  width: 100%;
  font-size: 0.9em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}
.card__image {
  position: absolute;
  top: -2em;
  width: 6em;
  height: 6em;
  object-fit: contain;
}
.card__info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}
.card__types {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
}
.card__back {
  width: 100%;
  height: 100%;
  background: #000;
  border: 0.2em solid #fff;
  border-radius: 2em;
  position: absolute;
  backface-visibility: hidden;
  transition: 0.4s ease;
  transform: rotateY(0deg);
  cursor: pointer;
}
.card__pokeball {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.button {
  border: 0.2em solid #fff;
  padding: 0.5em;
  transition: 0.4s ease;
  box-shadow: 0.1em 0.2em 0.5em #000;
  overflow: hidden;
}
.button:hover {
  padding: 0;
}
.button__button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  position: relative;
  padding: 0.7em 1.5em;
  background: transparent;
  color: #fff;
  cursor: pointer;
  transition: 0.5s ease;
}
.button__button::after {
  content: "";
  position: absolute;
  top: -1.3em;
  left: -1.3em;
  border: 0.3em solid #fff;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  transform: rotate(135deg);
}
.button__button::before {
  content: "";
  position: absolute;
  bottom: -1.3em;
  right: -1.3em;
  border: 0.3em solid #000;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  transform: rotate(135deg);
}
.button__button:hover {
  background: #fff;
  color: #000;
}
.button__button:hover::before {
  background: #000;
}
.button__span {
  font-size: 1.3em;
  letter-spacing: 0.05em;
}

.text {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  font-weight: 600;
  text-transform: capitalize;
}
.text__h2 {
  text-transform: capitalize;
  font-size: inherit;
  font-weight: bold;
  color: #f7f6f6;
}

.span__subtitle {
  font-size: 0.7em;
}
.span__text {
  font-size: 0.9em;
}

.title {
  font-size: 1.1em;
  text-align: center;
  padding: 0.5em 0;
  font-weight: bold;
  text-transform: capitalize;
}
.title__flex {
  min-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.title__imageT {
  position: relative;
  width: 1.2em;
  height: 100%;
}
.title__img {
  position: absolute;
  top: -0.719em;
}

.historial {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  margin: 0.2em;
  font-size: 14px;
  height: calc(100vh - 43px);
  overflow: auto;
}
.historial__article {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  padding: 0.3em;
  width: 100%;
  background: rgba(51, 85, 51, 0.2);
  border-radius: 0.2em;
}
.historial__images {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0em;
  width: 5.6em;
  height: 6.5em;
}
.historial__container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5em;
  width: 100%;
}
.historial__icon {
  height: 7em;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.image {
  object-fit: contain;
}

.modal {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  backdrop-filter: blur(1em);
}
.modal__section {
  width: 25em;
  height: 18em;
  background: #000;
  border-radius: 1em;
  border: 0.2em solid #fff;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.modal__dificulty {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.dificulty {
  overflow: hidden;
  width: 5em;
}
.dificulty__button {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  background: transparent;
  padding: 0.4em;
  border: 0.1em solid #fff;
  font-size: 1.1em;
  width: 100%;
  letter-spacing: 0.05em;
  font-weight: bold;
  position: relative;
  transition: 0.5s ease;
  cursor: pointer;
}
.dificulty__button:hover {
  background: #fff;
  color: #000;
}
.dificulty__button::after {
  content: "";
  position: absolute;
  top: -0.6em;
  left: -0.5em;
  width: 1em;
  height: 1em;
  border-right: 0.1em solid #fff;
  background: #000;
  transform: rotate(45deg);
}
.dificulty__button::before {
  content: "";
  position: absolute;
  bottom: -0.5em;
  right: -0.5em;
  width: 1em;
  height: 1em;
  border-left: 0.1em solid #fff;
  background: #000;
  transform: rotate(45deg);
}

.user {
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.user__label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.user__input {
  border-bottom: 0.1em solid #fff;
  outline: none;
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

.circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  fill-opacity: 0.75;
  stroke: #000;
  stroke-width: 10;
  transform: translate(5px, 5px);
}
.circle__color {
  stroke: #fff;
  stroke-dasharray: 314.2857142857;
  transition: 1s linear;
}

.counter {
  position: relative;
  width: 110px;
  height: 110px;
}
.counter__div {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0;
  font-weight: bold;
  font-size: 2em;
}

/*# sourceMappingURL=main.css.map */
