.card {
	height: 100%;
	width: 100%;
	@include flex(column, nowrap, flex-end, center, 0);
	position: absolute;
	backface-visibility: hidden;
	transition: 0.4s ease;
	transform: rotateY(180deg);
	&__row {
		width: 100vw;
		@include flex(row, nowrap, center, center, 1em);
	}
	&__movements {
		// background: blue;
		min-height: 100vh;
		flex-grow: 1;
		min-width: 16em;
	}
	&__buttons {
		// background: gray;
		min-height: 100vh;
		flex-grow: 1;
		min-width: 16em;
	}
	&__all {
		@include flex(row, wrap, center, center, 1.7em);
		flex-grow: 1;
		max-width: 1200px;
	}
	// Container de cada card
	&__perspective {
		perspective: 500px;
		//Efecto de volteo de la card si lo colocamos dentro del mismo flip trae problemas porque css no puede distinguir si esta o no dentro de flip pero como perspective es toda la card que esta enciam de flip no hay errores
		// &:hover .card__flip {
		// 	transform: rotateY(180deg);
		// }
	}
	// Subcontainer de cada card
	&__flip {
		position: relative;
		transform-style: preserve-3d;
		width: 8em;
		height: 10em;
		transition: 0.4s ease;
	}
	// Effecto con el click aqui no hay problemas porque solo se aplicaria si hicieramos click
	&__click {
		transform: rotateY(180deg);
	}
	// Face Front card
	&__container {
		@include flex(column, nowrap, flex-end, center, 0);
		position: relative;
		background: #343e63;
		height: 100%;
		width: 100%;
		padding: 1em 0.2em;
		border-radius: 2em;
		cursor: pointer;
	}
	&__section {
		width: 100%;
		font-size: 0.9em;
		@include flex(column, nowrap, center, center, 0.3em);
	}
	&__image {
		position: absolute;
		top: -2em;
		width: 6em;
		height: 6em;
		object-fit: contain;
	}
	&__info {
		@include flex(row, nowrap, center, center, 0.3em);
	}
	&__types {
		@include flex(row, nowrap, center, center, 0.3em);
	}
	// Face Back card
	&__back {
		width: 100%;
		height: 100%;
		background: #000;
		border: 0.2em solid #fff;
		border-radius: 2em;
		position: absolute;
		backface-visibility: hidden;
		transition: 0.4s ease;
		transform: rotateY(0deg);
		cursor: pointer;
	}
	&__pokeball {
		object-fit: contain;
		width: 100%;
		height: 100%;
	}
}
